        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Bienvenue sur la plate forme de recettes</h1>
                    <p class="lead mb-0">ici vous trouverez tout type de recettes pour le plaisir de vos papilles</p>
                </div>
            </div>
        </header>